@import url('https://fonts.googleapis.com/css?family=Cute+Font&display=swap');
@import url('https://fonts.googleapis.com/css?family=Aclonica&display=swap');

img {
  height: 50px;
  opacity: 0.7 ;
}

body {
  font-family: 'Cute Font', cursive;
  font-size: 30px;
  color:rgb(243, 46, 233);
  font-style: unset;
  /* background-color: mediumturquoise; */
}

.name h1{
    text-align: right;
    font-family: Aclonica;
    font-size: 30px;
    padding-top: 50px;
    padding-right: 20px;
    color: palevioletred;
    

}

h1 {
  font-size: 70px;
}
p {
 font-size: 40px;
 color: rgb(141, 243, 247);

}
main {
  text-align: center;
  
}
a{
  color: cyan;
}

.actions {
  text-align: center;
  margin: 20px 10px;
  padding: 10px ;
}
  .actions a{ 
  background-color: rgba(82, 112, 195, 0.37);
  display: inline-block;
  border: 1px solid white;
  margin-top: 50px;
  padding: 10px 
}

.backpic {
  /* background-position: center; */
  background-image: url("https://data.1freewallpapers.com/download/lake-sunset-moon-mountains-blue-water-landscape-pictures-desktop.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  /* padding: 50px 50px; */
   overflow: scroll; 
}
.bannar h1{
  border: 4px solid rgba(82, 112, 195, 0.438);
  position: relative;
  top: 50px;
  width: 400px;
  margin: 0 auto;
  color: rgba(238, 22, 227, 0.616)
}