@import url('https://fonts.googleapis.com/css?family=Cute+Font&display=swap');
@import url('https://fonts.googleapis.com/css?family=Aclonica&display=swap');

img {
  height: 50px;
  opacity: 0.7 ;
}




body {
  font-family: 'Cute Font', cursive;
  font-size: 30px;
  color:rgb(243, 46, 233);
  font-style: unset;
  background-position: center; 
  background-image: url("https://data.1freewallpapers.com/download/lake-sunset-moon-mountains-blue-water-landscape-pictures-desktop.jpg"); 
  background-size: cover; 
  width: 100vw; 
  height: 100vh; 
  padding: 50px 50px; 
  overflow: scroll;  
  /* background-color: mediumturquoise; */
}

p {
  font-size: 40px;
  color: rgb(141, 243, 247);
 }
 main {
  text-align: center; 
 }
a{
  color: cyan;
 } 


.name h1{
  
    text-align: left;
    font-family: Aclonica;
    font-size: 35px;
    padding-top: 50px;
    padding-left: 20px;
    color: palevioletred;
    position: relative;
    transition: background 0.5s ease-in, transform .5s .25s  ease-in-out;
     perspective: 1000PX; 
    animation-name: slide;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(.03,.82,.94,.56);
     animation-delay: 1s; 
     animation-iteration-count: 2;
    animation-fill-mode: both;
    animation-direction: alternate;
}


.name h1:hover {
  color: rgba(168, 192, 231, 0.781);
   /* transform: scaleX(1.5) rotate(35deg);   */
}




.nav {
  text-align: center;
  margin: 20px 10px;
  padding: 10px ;
  position: relative;
}
.nav a{ 
  background-color: rgba(82, 112, 195, 0.37);
  display: inline-block;
  border: 1px solid white;
  margin-top: 50px;
  margin-right: 10px;
  padding: 5px 10px 5px 10px; 
  display: inline-block;
  text-decoration: none;
  transition: background 0.1s ease-in, transform .10s .25s ease-in-out;
  /* perspective: 2000px; */
}

.nav a:hover {
  background: palevioletred;
  border: 1px solid palevioletred;
  color: black;
  transform: scale(1.5) rotateY(30deg);
}


.greetings h1{
  
  position: relative;
  top: 50px;
  width: 400px;
  margin: 0 auto;
  color: rgba(238, 22, 227, 0.616);
}
.greetings h1:hover {
  color: black;
  
}



.bug1 img{
    top: 80px;
    width: 2%;
		height:2%;
    position: relative;
    opacity: 100%;
    transition: background 0.5s ease-in, transform .5s .25s  ease-in-out;
     perspective: 1000PX; 
    animation-name: drift;
    animation-duration: 25s;
    animation-timing-function: linear;
     animation-delay: 1s; 
     animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-direction: unset;
}

.bug2 img{
  width: 2%;
  height:2%;
  position: relative;
  opacity: 100%;
  transition: background 0.5s ease-in, transform .5s .25s  ease-in-out;
   perspective: 1000PX; 
  animation-name: drift;
  animation-duration: 35s;
  animation-timing-function: linear;
   animation-delay: 1s; 
   animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-direction: unset;
}

.avatar img{
  width: 20%;
  height:20%;
  display:block;
  margin-right: 30VW;
  margin-left: 70vw;
  margin-top: 90px;
  /* margin-bottom: 100vw; */
  opacity:100%;
  border-radius: 300px;
  box-shadow: 0px 0px 0px 1px rgba(236, 22, 22, 0.075), 0px 4px 4px 0px rgb(27, 16, 16);
  animation: slidein 8s linear;
  animation-fill-mode: both;
}

  
 


@keyframes slide {
   from{transform: translateX(0px);}
   to{transform: translateX(900px);}
}

@keyframes drift {
    from{transform: translateX(-9vw);}
    to{transform: translateX(100vw);}

}

@keyframes slidein {
   0% {transform: translateY(600px);}
   60% {transform: translateY(-60px);}
   80% {transform: translateY(30px);}
   100% {transform: translateY(100px);}

}